*.class
*.classpath
*.project
*.json

packages/
.vs/*
*.sln
leetcodeCSharp/bin/*
leetcodeCSharp/obj/*
leetcodeCSharp/Properties/*
leetcodeCSharp/App.config
leetcodeCSharp/packages.config
leetcodeCSharp/leetcodeCSharp.csproj